<html>
  <head>
    <title>
    The gossip Project
    </title>
  </head>
  <body>
    <h1>Bienvenu</h1>
    <p>La création des potins arrive ! En attendant tu peux aller créer des potins <a href="/gossips/new/"> >>>ici<<< </a> </p>
    <p>Voici la liste des potins déjà enregistrés !</p>
    <% gossips.each_with_index do |gossip, i| %>
        <p>
          <a href="/gossips/<%= i %>">
          <%= gossip.author %><br/>
          <%= gossip.content %>
          </a>
        </p>
      <% end %>
  </body>
</html>